@charset "UTF-8";

* {margin:0;padding:0;vertical-align:middle;border:0;}
html, body {width:100%;height:100%;}
html {overflow-y:scroll;} /* root에서만 만듦 */
html.addScroll {overflow:hidden;} /* 모달창에서는 스크롤 없이 설정 */
body {font:normal 14px/1 "Open Sans","Noto Sans KR";color:#f1f1f1;background:#222;}
header, main, footer, section, aside, nav, aside {display: block;}
i, em, address {font-style:normal;}

/* 크로스 브라우징 : 
input {-webkit-box-shadow:none;box-shadow:none;-webkit-border-radius:0;border-radius:0;-webkit-appearance:none;appearance:none;}  */
input[type="text"] {box-shadow:none;border-radius:0;appearance:none;padding:15px;height:50px;width:100%;box-sizing:border-box;border:1px solid #ddd;background:#fff;}
input[type="email"] {box-shadow:none;border-radius:0;appearance:none;padding:15px;height:50px;width:100%;box-sizing:border-box;border:1px solid #ddd;background:#fff;}
input[type="submit"] {cursor:pointer;padding:15px 25px;appearance:none;display:inline-block;}

textarea {box-shadow:none;border-radius:0;appearance:none;padding:15px;width:100%;border:1px solid #ddd;box-sizing:border-box;background:#fff;}
select {padding:15px;width:100%;color:#aaa;border:1px solid #ddd;box-sizing:border-box;height:50px;background:#fff;appearance:none;}

ul, li {list-style: none;}
a {color: #222; text-decoration:none;}
h1, h2, h3, h4, h5, h6 {font-weight:normal; font-size:14px;}
img {vertical-align:middle;}
.fixedclear:after {content:"";display:block;clear:both;} /* floating hack */
.hide {display: none;}
.blind{display:block;text-indent:-2000px;overflow:hidden;}

/* skip */
#skip {z-index:2;position:absolute;top:0;left:0;width:100%;}
#skip > li {width:100%;}
#skip > li > a {display:block;line-height:0;font-size:0;text-align:center;color:#e6c2b4;background:#f1f1f1;text-decoration:none;outline:none;}
#skip > li > a:focus {line-height:50px;font-size:20px;}

/* wrap */
#wrap {z-index:1;position:relative;width:100%;height:auto;overflow:hidden;/* 다른 섹션의 고정 넓이를 숨겨준다. */}