@charset "UTF-8";

/* 모바일->pc = min-width */
/* pc->모바일 = max-width = 내림차순 */

@media all and (max-width:1200px){
}

@media all and (max-width:1024px){
    #wrap #header .wrap .gap .container {display:none;}
    #wrap #header .wrap .gap .mobile {display:block;}
}

@media all and (max-width:800px){
}

@media all and (max-width:768px){
}

@media all and (max-width:650px){
    #wrap #footer .wrap .gap .container > address > ul > li {font-size:2.461538462vw/* 16px */;}
    #wrap #footer .wrap .gap .container > address > ul .name {font-size:3.076923077vw/* 20px */;}
    #wrap #footer .wrap .gap .container > address > ul > li > i {font-size:2.461538462vw/* 16px */;}
    #wrap #footer .wrap .gap .container > address > div > h2 {font-size:2.461538462vw/* 16px */;}
}

@media all and (max-width:500px){

}
@media all and (max-width:420px){
}
